---
layout: default
published: true
---
<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">CookieFree.cf</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#funciones">Caracteristicas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#portfolio">Ejemplos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#codigo">Código</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#opciones">Opciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#contact">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Script de cookie gratis</div>
          <div class="intro-heading ">Una solución fácil y <b>gratuita</b> para cumplir con la ley de la Unión Europea sobre cookies.</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Código</a>
        </div>
      </div>
    </header>

    <!-- Services -->
    <section id="funciones">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Funciones</h2>
            <h3 class="section-subheading text-muted">Integre el script con una sola línea de código</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-check fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Cumple con la UE</h4>
            <p class="text-muted">Con una sola línea de código, cumplirá con la ley de cookies de la UE.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-wordpress fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Funciona en todas tus webs</h4>
            <p class="text-muted">No importa que su web esté realizada en Wordpress, Drupal, Magento, Prestashop,...</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-arrows-alt fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Responsive</h4>
            <p class="text-muted">Se adapta a todos los dispositivos, escritorio, tablet y smartphones.</p>
          </div>
          
          
          
           <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Rápido</h4>
            <p class="text-muted">Script muy ligero, no requiere Jquery, ni css, tan solo una línea de código.</p>
          </div>
           <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-list fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Configurable</h4>
            <p class="text-muted">No requiere complicados código, simplemente agregue las opciones en la misma línea de código.</p>
          </div>
           <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-code fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Fácil instalación</h4>
            <p class="text-muted">Solo copie y pegue el script en su web.</p>
          </div>
          
          
          
          
          
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Demos</h2>
            <h3 class="section-subheading text-muted">Pulse sobre cada imagen para ver un ejemplo de integración y su código correspondiente.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/01-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Estándar</h4>
              <p class="text-muted">Sin opciones de configuración</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/02-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Textos</h4>
              <p class="text-muted">Texto personalizado</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/03-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Colores</h4>
              <p class="text-muted">Cambio de colores</p>
            </div>
          </div>
         
        </div>
      </div>
    </section>

    <!-- About -->
    <section id="demo">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Código</h2>
            <h3 class="section-subheading text-muted">Copie y pegue el siguiente código en cualquier lugar de su web.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12"><pre><code style="text-align:center; padding:10px; border:1px solid #eeeeee;">&lt;script type="text/javascript" id="cookiefree" src="//cookiefree.cf/cookies.js"&gt;&lt;/script&gt; 
</code></pre>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="opciones">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Opciones disponibles</h2>
            <h3 class="section-subheading text-muted">Customiza tu código con tus propios textos y colores.</h3>
          </div>
        </div>
      
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">Para ustilizar cualquiera de estas opciones, simplemente inserte en nombre de la propiedad, dentro del tag, por ejemplo: <b>script type="text/javascript" id="cookiefree" <b>data-text-align="left"</b> src="//cookiefree.cf/cookies.js"&gt;&lt;/script&gt;</b>.</p>
          </div>
          
          <div>
            <strong>data-font-size</strong> - text size of the message and the link (default: 14px)<br />
										<strong>data-font-family</strong> - font family of the message and the link (default: verdana, arial, sans-serif)<br />
										<strong>data-text-align</strong> - position of the text (default: center)<br />
										<strong>data-height</strong> - banner height (default: 31 pixels)<br />
										<strong>data-fg</strong> - banner text color (default: #333)<br />
										<strong>data-bg</strong> - banner background color (default: #eee)<br />
										<strong>data-link</strong> - link text color (default: #31A8F0)<br />
										<strong>data-divlink</strong> - button text color (default: #000)<br />
										<strong>data-divlinkbg</strong> - button background color (default: #F1D600)<br />
										<strong>data-position</strong> - banner position, top or bottom (default: bottom)<br />
										<strong>data-message</strong> - message text (default: We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies.)<br />
										<strong>data-linkmsg</strong> - link text (default: More info)<br />
										<strong>data-moreinfo</strong> - where the visitor can read more about cookies (default: https://wikipedia.org/wiki/HTTP_cookie<br />
										<strong>data-close-text</strong> - the text/symbol for the close button (default: &#10006;)<br />
										<strong>data-effect</strong> - effect to use (default: null)<br />
										<strong>data-cookie</strong> - name for the cookie to store the cookiebanner acceptance information (default: we-love-cookies)<br />
										<strong>data-expires</strong> - cookie expiry date/time (default is Infinity aka "Fri, 31 Dec 9999 23:59:59 GMT").<br />
										<strong>data-cookie-path</strong> - Path to set for the cookie<br />
										<strong>data-mask</strong> - whether to create a mask over the viewport (default: false). Clicking anywhere on the mask is considered as acceptance.<br />
										<strong>data-mask-opacity</strong> - the opacity to use for the window mask (default: 0.5)<br />
										<strong>data-mask-background</strong> - optional background style you wish to apply to the mask (default: #999)<br />
										<strong>data-zindex</strong> - z-index to set on the notice (default: 255). If mask is used, the notice's z-index is automatically incremented by 1 so it appears above the mask)<br />
										<strong>data-accept-on-scroll</strong> - when is set true window scrolling is considered as acceptance. (default: false)<br />
										<strong>data-tracking</strong> - Tracking pixel (default: Off - To enable you will need to enter a (image) tracking url or script. Example: http://www.yourdomain.com/tracking.php?pixel)<br />
										</p>
										<p>
										Example:
										<textarea style="min-height:330px; min-width:250px; max-width:100%; color:#36A092; background-color:#f9f9f9; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;" onclick="this.focus();this.select()">
&lt;script type="text/javascript" id="cookieinfo"
	src="//cookiefree.cf/cookies.js"
	data-bg="#645862"
	data-fg="#FFFFFF"
	data-link="#F1D600"
	data-text-align="left"
    data-close-text="OK"&gt;
&lt;/script&gt;
</textarea>
        </div>
          
          
        </div>
      </div>
    </section>

    <!-- Clients -->
    <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/logos/envato.jpg" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/logos/designmodo.jpg" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/logos/themeforest.jpg" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/logos/creative-market.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contacto</h2>
            <h3 class="section-subheading text-muted">Si necesita ayuda para integrar nuestro código, complete el siguiente formulario:.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" netlify name="cookiefree" action="/" novalidate="novalidate">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="name" type="text" placeholder="Nombre *" required="required" data-validation-required-message="Nombre y/o empresa.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="email" type="email" placeholder="Correo *" required="required" data-validation-required-message="E-mail válido">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="phone" type="tel" placeholder="Teléfono *" required="required" data-validation-required-message="Formato Internacional +34xxxxxxxxx.">
                    <p class="help-block text-danger"></p>
                  </div>
                   <div class="form-group">
                    <input class="form-control" id="web" type="url" placeholder="Web *" required="required" data-validation-required-message="No olvide indicar https://">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="Mensaje *" required="required" data-validation-required-message="Describa su problema."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Enviar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
